@import url('https://fonts.googleapis.com/css?family=Poppins:700');

*{
    background
}

#body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.container{
    background: violet;


    header{
        display: grid;
        grid-template-columns: 25% auto;
        padding: 20px
    }
}


#hero{
    padding: 0;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    height: 90vh;

    position: relative;
    z-index: 1;
    overflow: hidden;
    object-fit: scale-down;

}

#video{
    position: absolute;
    z-index: -1;
    width: 100%;
}

#contenido{
    padding: 4em;

    h1{
        margin: 0;
        text-transform: uppercase;
        font-size: 5em;
    }
}

ul{
    margin-top: 0px;
    margin: 0px 0px 0px 0px;
}

#login #login-column #login-box {

  margin-top: 100px;
  margin-left: 300px;
  max-width:300px;
  height: 320px;
  border: 1px solid grey;
  background-color: black;
}

#bot{
    margin-left: 75px;
}

.tittle {
    margin-top: 100px;
  font-weight: 800;
  color: black;
  font-size: 120px;
  background-color: black;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  text-align: center;
  text-shadow:
  -4px -4px 0 grey,  
  4px -4px 0 grey,
  -4px 4px 0 grey,
  4px 4px 0 grey;
  line-height: 90px;
  letter-spacing: -8px;

}
